<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Chats</title>
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
		<script src="https://kit.fontawesome.com/c939d0e917.js"></script>
		<link rel="stylesheet" href="/css/chats.css" />
		<link rel="stylesheet" href="/snackbar.css" />
		<script src="/socket.io/socket.io.js"></script>
		<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script>
			const user = "<%=UserName%>";
			const Chats = <%- JSON.stringify(rooms) %>;
		</script>
	</head>
	<body>
		<div id="frame">
			<div id="sidepanel">
				<div id="profile">
					<div class="wrap">
						<p><%=UserName%></p>
					</div>
				</div>
				<!-- <div id="search">
					<label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
					<input type="text" placeholder="Search contacts..." />
				</div> -->
				<div id="contacts">
					<ul>
						<% for(let i=0;i < chats.length; i++){ %>
						<li class="contact" id="wrap-<%=chats[i].title%>" onclick="showMsg('<%=chats[i].title%>')">
							<div class="wrap" id="wrap-<%=chats[i].title%>">
								<div class="meta">
									<p class="name chats-title-<%=chats[i].title%>"><%= chats[i].name %></p>
								</div>
							</div>
						</li>
						<% } %>
					</ul>
				</div>
				<div id="bottom-bar">
					<button id="addcontact" onClick="createChat()">
						<i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Create Chat</span>
					</button>
				</div>
			</div>
			<div class="content">
				<% for(let i=0;i < chats.length; i++){ %>

				<div class="messages" id="messages-<%=chats[i].title%>">
					<div class="contact-profile">
						<p class="chats-title-<%=chats[i].title%>" onclick="toggleInfo()"><%=chats[i].name%></p>
						<div class="social-media">
							<i class="fa fa-share" aria-hidden="true" onClick="share()"></i>
						</div>
					</div>
					<br />
					<br />
					<ul>
						<% for(let j = 0; j< chats[i].messages.length; j++){%> <%if(chats[i].messages[j].sender === UserName){%>
						<li class="sent">
							<p><%= chats[i].messages[j].messages %></p>
						</li>
						<%} else if(chats[i].messages[j].sender == "Admin"){%>
						<li class="admin">
							<p><%= chats[i].messages[j].messages %></p>
						</li>
						<%} else {%>
						<li class="replies">
							<p><strong><%= chats[i].messages[j].sender %></strong> : <%= chats[i].messages[j].messages %></p>
						</li>
						<%}%> <%}%>
					</ul>
					<br />
				</div>
				<div class="info-bar" id="info-<%=chats[i].title%>">
					<div class="d-flex">
						<h4 class="chats-title-<%=chats[i].title%>"><%=chats[i].name%></h4>
						<i class="fa fa-close fa-fw" aria-hidden="true" onclick="toggleInfo()"></i>
					</div>
					<h6 style="cursor: pointer" onclick="renameChat()">Rename this Chat</h6>
					<div>
						<h5>Participants</h5>
						<ul>
							<% for(let j = 0; j< chats[i].participants.length; j++){%>
							<p><%=chats[i].participants[j]%></p>
							<%}%>
						</ul>
					</div>
				</div>
				<% } %>

				<div class="message-input">
					<div class="wrap">
						<input type="text" placeholder="Write your message..." />
						<i
							class="fa fa-microphone-slash attachment"
							id="mic-status"
							aria-hidden="true"
							onclick="requestToggleCaptions()"
						></i>
						<button class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="/js/chats.js"></script>
	<script src="/snackbar.js"></script>
	<script src="/autolink.js"></script>
</html>
